.conf-main-right {
    @include main-boxes($main-right-width, 100%);
    flex-direction: column;    
    padding-left: 5px; 
}

.conf-main-right-top {
    @include main-right-windows;
    padding: 5px;
}

.conf-main-right-bottom {
    &_l0 {
        @include main-boxes(100%, 100%);
        flex-direction: column;
        &-list {
            @include list_l0;
        }
        &-panel {
            flex: 1;
            @include main-right-windows;
            display: none;
            &--selected {
                display: block;
            }
        }
    }
    &_l1 {
        @include zero-m-and-p;

        &-platform {
            padding: 5px;
            margin: 0;
            &-desc {
                margin: 0;
                padding: 5px;
            }
        }
        &-module {
            padding: 0 5px;
            list-style-type: decimal;
        }
    }
    &_l2-module {
        min-height: 1.1em; 
        display: flex;
        margin: 0;
        cursor: pointer;
        &-light {
            background-color: inherit;
        }
        &-dark {
            background-color: $main-color-light2
        }
        &-article {
            white-space: nowrap;
            padding: 0 5px;
        }
        &-specs {
            &-menu {
                position: relative;
                width: 0;
                height: 0;
                box-sizing: border-box;
                border-top: 0.35em solid transparent;
                border-bottom: 0.35em solid transparent;
                border-left: 0.7em solid red;
                margin: auto 0;
                &-list {
                    @include zero-m-and-p;
                    display: none;
                    list-style: none;
                    position: absolute;
                    right: 0;
                    top: -0.6em;
                    border: $border-panel;
                    border-radius: $border-radius-value;
                    transform: translate(100%);
                    background-color: $main-windows-background-color;
                    padding: 5px;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
        }
        &-desc {
            padding: 0 2px;  
        }
    }
}