.component-to-print-wrapper {
    display: flex;
    flex-direction: column;
}

.print-conf-table {
    margin: 5px 15px;
    border: 1px solid $main-color-light3;
    border-collapse: collapse;
    &-head {
        th {
            border: 1px solid $main-color-light3;
        }
    }
    &-body {
        &_l0 > td {
            text-align: center;
            border: 1px solid $main-color-light5;
            border-collapse: collapse;
        }
    }
    &-total-price {
        border-top: 1px solid $main-color-light3;
        border-bottom: 1px solid $main-color-light3;
    }
}

.top-left-logo-container {
    position: relative;
    height: 100px;
    padding: 5px;
    border-bottom: 2px solid $main-color-light5;
}

.top-left-logo {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.contact-info {
    display: flex;
    font-size: $print-conf-font-size;
    margin: 5px auto;
    &-table1 {
        @include contact-info-table;
        border-right: 2px dotted black;
        border-left: 2px dotted black;
        &-ECCO {
            color: #006699;
            font-weight: bold;
            &-text {
                font-size: 0.5em;
            }
        }
    }
    &-table2 {
        @include contact-info-table;
    }
    &-table3 {
        @include contact-info-table;
        border-left: 2px dotted black;
        border-right: 2px dotted black;
    }
}

.print-button {
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px 15px;
    padding: 0 10px;
    font-weight: bold;
    font-family: "Courier New";
    font-size: 1.5em;
    border-radius: $border-radius-value;
}