.component-to-print-wrapper {
    display: flex;
    flex-direction: column;
}

.print-conf-table {
    margin: 5px 15px;
    border: 1px solid $main-color-light3;
    border-collapse: collapse;
    &-head {
        &-th {
            border: 1px solid $main-color-light3;
        }
    }
    &-body {
        &_l0-td {
           text-align: center;
           border: 1px solid $main-color-light5;
           border-collapse: collapse;
        }
        &_l1-td {
            
         }
    }
}

.sub-table {
    border: none;
}

.top-left-logo-container {
    position: relative;
    height: 100px;
    padding: 5px;
    border-bottom: 2px solid $main-color-light5;
}

.top-left-logo {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.total-price {
    border-top: 1px solid $main-color-light3;
    border-bottom: 1px solid $main-color-light3;
}

.contact-info {
    display: flex;
    font-size: 0.5rem;
    padding: 5px 20px;
    &-table1 {
        padding: 3px;
        border-right: 2px dotted black;
        border-left: 2px dotted black;
        font-size: inherit;
        font-size: 0.7rem;
        height: 104px;
        box-sizing: border-box;
        &-ECCO {
            color: #006699;
            font-weight: bold;
            &-text {
                font-size: 0.4rem;
            }
        }
    }
    &-table2 {
        padding: 3px;
        font-size: inherit;
        height: 104px;
        box-sizing: border-box;
        td {
            vertical-align: top;
        }
    }
    &-table3 {
        padding: 3px;
        border-left: 2px dotted black;
        border-right: 2px dotted black;
        font-size: inherit;
        height: 104px;
        box-sizing: border-box;
        td {
            vertical-align: top;
        }
    }
}   