/***COLORS***/
$main-color-strong: rgb(0, 102, 255);
$main-color-light: rgb(172, 206, 255);
$background-and-separator-color: rgb(223, 223, 223);

/***BORDERS***/
$border: 1px solid;
$main-windows-borders: $border $main-color-strong;

/***BACKGROUND***/
$tabs-gradient: linear-gradient($main-color-light, $main-color-strong);
$main-windows-background-color: white;

@mixin zero-m-and-p {
    margin: 0;
    padding: 0;
}

/***MAIN BOXES***/
@mixin main-boxes($width, $height) {
    height: $height;
    width: $width;
    display: flex;
    box-sizing: border-box;
}

@mixin main-windows {
    box-sizing: border-box;
    background-color: $main-windows-background-color;
    border: $main-windows-borders;
    border-radius: 10px;
    overflow: hidden;
}

@mixin main-left-windows {
    @include main-windows;
    width: 100%;
    display: flex;
    flex: 1;
}

@mixin main-right-windows {
    @include main-windows;
    height: 100%;
    padding: 10px;
}

@mixin horizontal-menu($is-top: false) {
    padding: 13px;
    display: flex;
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    box-sizing: border-box;
    flex: 1;
    &-card {
        @if $is-top {
            padding: 2px 2px;
        } @else {
            padding: 2px 20px;
        }
        box-sizing: border-box;
        height: 120px;
        width: auto;
    }
}

@mixin tab-l0 {
    display: inline-block;
    margin-left: 20px;
    border-radius: 15px 3px 0 0;
    background: linear-gradient(rgb(182, 182, 182), rgb(156, 156, 156));
    padding: 1px 6px 1px 6px;
    list-style: none;
    cursor: pointer;
    position: relative;
    &::before {
        position: absolute;
        box-sizing: border-box;
        left: 0;
        top: 0;
        width: 10px;
        height: 100%;
        content: "";
        transform: skewX(-30deg);
        border-top-left-radius: 5px;
        background: inherit;
        z-index: -1;
    }
    &--selected {
        background: $tabs-gradient;
    }
    &::focus {
        outline: none;
    }
}

@mixin tab-l1 {
    display: inline-block;
    border-bottom: none;
    border-right: $border $background-and-separator-color;
    position: relative;
    list-style: none;
    padding: 3px 6px;
    cursor: pointer;
    position: static;
    &--selected {
        background: $tabs-gradient;
    }
    &:focus {
        outline: none;
    }
}


.conf-main {
    display: flex;
    width: 1000px;
    height: 700px;
    padding: 10px;
    background-color: $background-and-separator-color;
    font-size: 14px;
}

.conf-main-left {
    width: 70%;
}

.conf-main-left-top {
    @include main-boxes(100%, 30%);
    &-container--l0 {
        @include main-boxes(80%, 100%);
        flex-direction: column;
        &-list {
            @include zero-m-and-p;
            z-index: 0;
            overflow: hidden;
            &-tab {
                @include tab-l0;
            }
        }
        &-panel {
            flex: 1;
            display: none;
            box-sizing: border-box;
            overflow: hidden;
            &--selected {
                display: flex;
            }
        }
    }
    &-container--l1 {
        @include main-boxes(100%, 100%);
        flex-direction: column;
        background-color: $main-windows-background-color;
        border: 1px solid $main-color-strong;
        border-radius: 10px;
        overflow: hidden;
        &-list {
            @include zero-m-and-p;
            border-bottom: $main-windows-borders;
            background: linear-gradient(#666699, #6699cc);
            padding-inline-start: 0px;
            &-tab {
                @include tab-l1;
            }
        }
        &-panel {
            display: none;
            box-sizing: border-box;
            &--selected {
                flex: 1;
                display: block;
            }
        }
    
    }
    &-container--l2 {
       @include horizontal-menu(true);
    }
    .logo {
        height: 30%;
        padding: 23px 0 0 30px;
    }
}

.conf-main-left-middle {
    &-container--l0 {
        @include main-boxes(100%, 40%);
        padding: 10px 0;
        flex-direction: column;
        &-list {
            @include zero-m-and-p;
            z-index: 0;
            overflow: hidden;
            &-tab {
                @include tab-l0;
            }
        }
        &-panel {
            @include main-left-windows;
            display: none;
            &--selected {
                display: flex;
            }
        }
    }
    &-container--l1 {
        padding: 10px;
        display: flex;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        &-desc {
            width: 20%;
            box-sizing: border-box;
            height: 100%;
        }
        &-layout {
            height: 100%;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            padding: 0 5px;
            &-top {
                height: 20%;
                margin: 0 20px;
                background-color: $background-and-separator-color;
                border-radius: 3px 3px 0 0;
                box-shadow: 1px -1px gray, 2px -2px gray, -1px -1px gray, -2px -2px gray;
                z-index: 1;
            }
            &-middle {
                padding: 20px 0;
                display: flex;
                height: 75%;
                box-sizing: border-box;
                background-color: $background-and-separator-color;
                box-shadow: 1px -1px gray, 2px -2px gray, -1px -1px gray, -2px -2px gray, 1px 1px gray, 2px 2px gray, -1px 1px gray, -2px 2px gray;
                border-radius: 3px;
                z-index: 0;
            }
            &-bottom {
                height: 5%;
                margin: 0 10px;
                background-color: $background-and-separator-color;
                border-radius: 0 0 3px 3px;
                box-shadow: 1px 1px gray, 2px 2px gray, -1px 1px gray, -2px 2px gray;
                z-index: 1;
            }
        }
    }
}

.conf-main-left-bottom {
    &-container--l0 {
        @include main-boxes(100%, 30%);
        flex-direction: column;
        &-list {
            @include zero-m-and-p;
            z-index: 0;
            overflow: hidden;
            &-tab {
                @include tab-l0;
            }
        }
        &-panel {
            @include main-left-windows;
            display: none;
            &--selected {
                display: flex;
            }
        }
    }
    &-container--l1 {
        @include main-left-windows;
        flex-direction: column;
        &-list {
            @include zero-m-and-p;
            border-bottom: $main-windows-borders;
            background: linear-gradient(#666699, #6699cc);
            padding-inline-start: 0px;
            &-tab {
                @include tab-l1;
            }
        }
        &-panel {
            flex: 1;
            width: 100%;
            display: none;
            box-sizing: border-box;
            &--selected {
                display: block;
            }
        }
    
    }
    &-container--l2 {
       @include horizontal-menu;
    }
}

.conf-main-right {
    @include main-boxes(30%, 100%);
    flex-direction: column;    
    padding-left: 5px; 
}

.conf-main-right-top, .conf-main-right-bottom {
    @include main-right-windows
}

/***** RESIZER FOR SPLIT PANE *****/

.Resizer {
    background: #000;
    opacity: .2;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

.Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

.Resizer.horizontal {
    height: 11px;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}

.Resizer.horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
    width: 11px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
}

.Resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.disabled {
    cursor: not-allowed;
}

.Resizer.disabled:hover {
    border-color: transparent;
}

.SplitPane {
	position: inherit !important;
}

/***** CHANGE TABS STYLE *****/

.module-series-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.module-series-list-tabs {
    padding: 0;
    margin: 0;
    border-bottom: $main-windows-borders;
    background: linear-gradient(#666699, #6699cc);
}

/***** LEFT TOP WINDOW *****/

.conf-container-left-top {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    box-sizing: border-box;
}

/***** LEFT MIDDLE WINDOW *****/

.power-soket {
    border: $border gray;
    border-collapse: collapse;
    box-sizing: border-box;
    margin: 12px 4px;
    padding: 9px;
    height: 100px;
    width: 100px;
    background-color: $main-windows-background-color;
    
}

.box-for-signal-slots {
    padding: 0 8px;
    margin: 8px 4px;
    border: $border gray;
    border-radius: 5px;
    height: 108px;
    box-sizing: border-box;
    background-color: $main-windows-background-color;
}

.signal-slot {
    box-sizing: border-box;
    width: 30px;
    height: 106px;
}

.selected-signal-slot {
    box-sizing: border-box;
    z-index: 1;
    width: 30px;
    height: 106px;
    box-shadow : 2px 2px 2px red, 2px -2px 3px red, -2px 2px 2px red, -2px -2px 2px red;
}

.conference-control {
    border: $border gray;
    border-collapse: collapse;
    box-sizing: border-box;
    margin: 0 4px;
    padding: 8px;
    height: 124px;
    width: 124px;
    border-radius: 5px;
}

.conference-control-double-frame {
    border: $border rgb(252, 44, 241);
    word-wrap: break-word;
    box-sizing: border-box;
    height: 106px;
    width: 212px;
}

.conf-list-middle {
    padding: 0;
    margin: 0;
    z-index: 0;
    overflow: hidden;
}

.addTabs {
    padding: 0px 8px;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #fff;
    margin: 0 10px;
}

/***** LEFT BOTTOM WINDOW *****/

.module-list-bottom {
    margin: 0;
    padding: 0;
    z-index: 0;
}