.conf-main {
    width: 1000px;
    height: 700px;
    background-color: #f2eaea;
    display: flex;
}

.conf-main-left {
    width: 70%;
    height: 100%;
    background-color: #e9e7da;
    float: left;
}

.conf-main-left-top {
    height: 30%;
    background-color: #cda34f;
    display: flex;
}

.conf-main-left-middle {
    height: 50%;
    display: flex;
}

.conf-main-left-bottom {
    height: 20%;
    background-color: #636b46;
    display: flex;
}

.conf-main-right {
    width: 30%;
    height: 100%;
    background-color: #373f27;
    float: left;
}

.conf-main-right-top {
    height: 100%;
    width: 100%;
    background-color: #ffecd4;
    display: flex;
}

.conf-main-right-bottom {
    height: 100%;
    width: 100%;
    background-color: #773b57;
    display: flex;
}


/***** RESIZER FOR SPLIT PANE *****/

.Resizer {
    background: #000;
    opacity: .2;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

.Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

.Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}

.Resizer.horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
}

.Resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.disabled {
    cursor: not-allowed;
}

.Resizer.disabled:hover {
    border-color: transparent;
}

.SplitPane {
	position: inherit !important;
}

/***** HORIZONTAL SCROLL TO MENU *****/

.horizontal-menu-top {
    margin: 0;
    padding: 1px 5px;
    display: flex;
    overflow-x: auto;
    display: flex;
    max-width: 700px;
    width: 97%;
    white-space: pre-wrap;
}

.card-top {
    padding: 0px 8px;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: transparent;
}

.card-top:focus {
    background-color: #fff;
}

.horizontal-menu-buttom {
    margin: 0;
    padding: 1px 5px;
    display: flex;
    overflow-x: auto;
    display: flex;
    max-width: 700px;
    width: 97%;
    white-space: pre-wrap;
}

.card-buttom {
    padding: 0px 8px;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: transparent;
}

.card-buttom:focus {
    background-color: #fff;
}

/***** CHANGE TABS STYLE *****/

.react-tabs__tab-list {
    margin: 0 2px;
    padding-inline-start: 0px;

}

.react-tabs__tab {
    padding: 3px 6px;
}

.ChooseSeries {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
}

/***** LEFT MIDDLE WINDOW *****/

.representation-of-conf {
    display: flex;
}

.representation-of-conf-left {
    background-color: #7cf30c;
    word-wrap: break-word;
    width: 20%;
}

.representation-of-conf-right {
    background-color: aqua;
    width: 80%;
    display: flex;
    padding: 20px;
}

.power-sokets {
    width: 90px;
    height: 90px;
    border: 1px solid gray;
    border-collapse: collapse;
    word-wrap: break-word;
}

.signal-slots {
    width: 30px;
    height: 90px;
    border: 1px solid rgb(92, 54, 97);
    border-collapse: collapse;
    word-wrap: break-word;
}

.conference-control {
    width: 90px;
    height: 90px;
    border: 1px solid rgb(252, 44, 241);
    word-wrap: break-word;
}

.wrapperMiddle {
    width: 700px;
}

.ConfListMiddle {
    padding: 0;
    margin: 0;
}

.addTabs {
    padding: 0px 8px;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #fff;
}

/***** RIGHT BUTTOM *****/
.ConfList {
    margin: 0;
    padding: 5px 10px;
}
