/*** COLORS ***/
/*** BORDERS ***/
/*** BACKGROUND ***/
/*** PADDINGS ***/
/***MAIN BOXES***/
/* FONT INTER */
@import url("https://rsms.me/inter/inter.css");
/* line 36, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/configurator.scss */
html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  /* line 38, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/configurator.scss */
  html {
    font-family: 'Inter var', sans-serif;
  }
}

/* line 41, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/configurator.scss */
body {
  font-family: 'Inter';
  font-weight: 500;
}

/* line 46, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/configurator.scss */
.conf-main {
  display: flex;
  width: 1000px;
  height: 700px;
  padding: 15px;
  background-color: #E4E4E4;
  font-size: 12px;
}

/* line 1, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-left.scss */
.conf-main-left {
  width: 70%;
}

/* line 4, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-left.scss */
.conf-main-left-top {
  height: 30%;
  width: 100%;
  display: flex;
  box-sizing: border-box;
}

/* line 6, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-left.scss */
.conf-main-left-top-container--l0 {
  height: 100%;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

/* line 9, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-left.scss */
.conf-main-left-top-container--l0-list {
  margin: 0;
  padding: 0;
  z-index: 0;
  overflow: hidden;
}

/* line 13, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-left.scss */
.conf-main-left-top-container--l0-list-tab {
  display: inline-block;
  margin-left: 10px;
  border-radius: 15px 3px 0 0;
  background: linear-gradient(#86B7BD, #BACBCC);
  padding: 5px 10px 5px 10px;
  list-style: none;
  cursor: pointer;
  position: relative;
}

/* line 77, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_mixins.scss */
.conf-main-left-top-container--l0-list-tab::before {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  width: 10px;
  height: 100%;
  content: "";
  transform: skewX(-30deg);
  border-top-left-radius: 5px;
  background: inherit;
  z-index: -1;
}

/* line 90, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_mixins.scss */
.conf-main-left-top-container--l0-list-tab--selected {
  background: linear-gradient(#E4E4E4, #BACBCC);
}

/* line 93, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_mixins.scss */
.conf-main-left-top-container--l0-list-tab::focus {
  outline: none;
}

/* line 17, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-left.scss */
.conf-main-left-top-container--l0-panel {
  flex: 1;
  display: none;
  box-sizing: border-box;
  overflow: hidden;
}

/* line 22, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-left.scss */
.conf-main-left-top-container--l0-panel--selected {
  display: flex;
}

/* line 27, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-left.scss */
.conf-main-left-top-container--l1 {
  height: 100%;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  background-color: white;
  border: 1px solid #86B7BD;
  border-radius: 3px;
  overflow: hidden;
}

/* line 34, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-left.scss */
.conf-main-left-top-container--l1-list {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #86B7BD;
  background: linear-gradient(#86B7BD, #BACBCC);
  padding-inline-start: 0px;
}

/* line 39, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-left.scss */
.conf-main-left-top-container--l1-list-tab {
  display: inline-block;
  border-bottom: none;
  border-right: 1px solid #E4E4E4;
  position: relative;
  list-style: none;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  position: static;
}

/* line 107, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_mixins.scss */
.conf-main-left-top-container--l1-list-tab--selected {
  background: linear-gradient(#E4E4E4, #BACBCC);
}

/* line 110, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_mixins.scss */
.conf-main-left-top-container--l1-list-tab:focus {
  outline: none;
}

/* line 43, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-left.scss */
.conf-main-left-top-container--l1-panel {
  display: none;
  box-sizing: border-box;
  padding: 5px;
}

/* line 47, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-left.scss */
.conf-main-left-top-container--l1-panel--selected {
  flex: 1;
  display: block;
}

/* line 54, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-left.scss */
.conf-main-left-top-container--l2 {
  display: flex;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  flex: 1;
}

/* line 56, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_mixins.scss */
.conf-main-left-top-container--l2-card {
  padding: 2px 2px;
  box-sizing: border-box;
  height: 120px;
  width: auto;
}

/* line 57, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-left.scss */
.conf-main-left-top .logo {
  height: 30%;
  padding: 23px 0 0 30px;
}

/* line 64, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-left.scss */
.conf-main-left-middle-container--l0 {
  height: 40%;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 15px 0;
  flex-direction: column;
}

/* line 68, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-left.scss */
.conf-main-left-middle-container--l0-list {
  margin: 0;
  padding: 0;
  z-index: 0;
  overflow: hidden;
}

/* line 72, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-left.scss */
.conf-main-left-middle-container--l0-list-tab {
  display: inline-block;
  margin-left: 10px;
  border-radius: 15px 3px 0 0;
  background: linear-gradient(#86B7BD, #BACBCC);
  padding: 5px 10px 5px 10px;
  list-style: none;
  cursor: pointer;
  position: relative;
}

/* line 77, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_mixins.scss */
.conf-main-left-middle-container--l0-list-tab::before {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  width: 10px;
  height: 100%;
  content: "";
  transform: skewX(-30deg);
  border-top-left-radius: 5px;
  background: inherit;
  z-index: -1;
}

/* line 90, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_mixins.scss */
.conf-main-left-middle-container--l0-list-tab--selected {
  background: linear-gradient(#E4E4E4, #BACBCC);
}

/* line 93, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_mixins.scss */
.conf-main-left-middle-container--l0-list-tab::focus {
  outline: none;
}

/* line 76, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-left.scss */
.conf-main-left-middle-container--l0-panel {
  box-sizing: border-box;
  background-color: white;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid #86B7BD;
  width: 100%;
  display: flex;
  flex: 1;
  padding: 5px;
  display: none;
}

/* line 80, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-left.scss */
.conf-main-left-middle-container--l0-panel--selected {
  display: flex;
}

/* line 85, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-left.scss */
.conf-main-left-middle-container--l1 {
  padding: 10px;
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* line 91, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-left.scss */
.conf-main-left-middle-container--l1-desc {
  width: 20%;
  box-sizing: border-box;
  height: 100%;
}

/* line 96, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-left.scss */
.conf-main-left-middle-container--l1-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 5px;
}

/* line 102, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-left.scss */
.conf-main-left-middle-container--l1-layout-top {
  height: 20%;
  margin: 0 20px;
  background-color: #E4E4E4;
  border-radius: 3px 3px 0 0;
  box-shadow: 1px -1px gray, 2px -2px gray, -1px -1px gray, -2px -2px gray;
  z-index: 1;
}

/* line 110, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-left.scss */
.conf-main-left-middle-container--l1-layout-middle {
  padding: 20px 0;
  display: flex;
  height: 75%;
  box-sizing: border-box;
  background-color: #E4E4E4;
  box-shadow: 1px -1px gray, 2px -2px gray, -1px -1px gray, -2px -2px gray, 1px 1px gray, 2px 2px gray, -1px 1px gray, -2px 2px gray;
  border-radius: 3px;
  z-index: 0;
}

/* line 120, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-left.scss */
.conf-main-left-middle-container--l1-layout-bottom {
  height: 5%;
  margin: 0 10px;
  background-color: #E4E4E4;
  border-radius: 0 0 3px 3px;
  box-shadow: 1px 1px gray, 2px 2px gray, -1px 1px gray, -2px 2px gray;
  z-index: 1;
}

/* line 133, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-left.scss */
.conf-main-left-bottom-container--l0 {
  height: 30%;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

/* line 136, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-left.scss */
.conf-main-left-bottom-container--l0-list {
  margin: 0;
  padding: 0;
  z-index: 0;
  overflow: hidden;
}

/* line 140, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-left.scss */
.conf-main-left-bottom-container--l0-list-tab {
  display: inline-block;
  margin-left: 10px;
  border-radius: 15px 3px 0 0;
  background: linear-gradient(#86B7BD, #BACBCC);
  padding: 5px 10px 5px 10px;
  list-style: none;
  cursor: pointer;
  position: relative;
}

/* line 77, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_mixins.scss */
.conf-main-left-bottom-container--l0-list-tab::before {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  width: 10px;
  height: 100%;
  content: "";
  transform: skewX(-30deg);
  border-top-left-radius: 5px;
  background: inherit;
  z-index: -1;
}

/* line 90, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_mixins.scss */
.conf-main-left-bottom-container--l0-list-tab--selected {
  background: linear-gradient(#E4E4E4, #BACBCC);
}

/* line 93, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_mixins.scss */
.conf-main-left-bottom-container--l0-list-tab::focus {
  outline: none;
}

/* line 144, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-left.scss */
.conf-main-left-bottom-container--l0-panel {
  box-sizing: border-box;
  background-color: white;
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex: 1;
  display: none;
}

/* line 147, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-left.scss */
.conf-main-left-bottom-container--l0-panel--selected {
  display: flex;
}

/* line 152, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-left.scss */
.conf-main-left-bottom-container--l1 {
  box-sizing: border-box;
  background-color: white;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid #86B7BD;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* line 155, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-left.scss */
.conf-main-left-bottom-container--l1-list {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #86B7BD;
  background: linear-gradient(#86B7BD, #BACBCC);
  padding-inline-start: 0px;
}

/* line 160, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-left.scss */
.conf-main-left-bottom-container--l1-list-tab {
  display: inline-block;
  border-bottom: none;
  border-right: 1px solid #E4E4E4;
  position: relative;
  list-style: none;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  position: static;
}

/* line 107, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_mixins.scss */
.conf-main-left-bottom-container--l1-list-tab--selected {
  background: linear-gradient(#E4E4E4, #BACBCC);
}

/* line 110, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_mixins.scss */
.conf-main-left-bottom-container--l1-list-tab:focus {
  outline: none;
}

/* line 164, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-left.scss */
.conf-main-left-bottom-container--l1-panel {
  flex: 1;
  width: 100%;
  padding: 5px;
  display: none;
  box-sizing: border-box;
}

/* line 170, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-left.scss */
.conf-main-left-bottom-container--l1-panel--selected {
  display: block;
}

/* line 176, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-left.scss */
.conf-main-left-bottom-container--l2 {
  display: flex;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  flex: 1;
}

/* line 56, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_mixins.scss */
.conf-main-left-bottom-container--l2-card {
  padding: 2px 20px;
  box-sizing: border-box;
  height: 120px;
  width: auto;
}

/* line 1, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-right.scss */
.conf-main-right {
  height: 100%;
  width: 30%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding-left: 15px;
}

/* line 7, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/_conf-main-right.scss */
.conf-main-right-top, .conf-main-right-bottom {
  box-sizing: border-box;
  background-color: white;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid #86B7BD;
  height: 100%;
  padding: 10px;
}

/***** RESIZER FOR SPLIT PANE *****/
/* line 60, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/configurator.scss */
.Resizer {
  background: #000;
  opacity: .2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

/* line 72, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/configurator.scss */
.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

/* line 77, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/configurator.scss */
.Resizer.horizontal {
  height: 11px;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

/* line 85, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/configurator.scss */
.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

/* line 90, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/configurator.scss */
.Resizer.vertical {
  width: 11px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

/* line 97, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/configurator.scss */
.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}

/* line 102, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/configurator.scss */
.Resizer.disabled {
  cursor: not-allowed;
}

/* line 106, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/configurator.scss */
.Resizer.disabled:hover {
  border-color: transparent;
}

/* line 110, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/configurator.scss */
.SplitPane {
  position: inherit !important;
}

/***** CHANGE TABS STYLE *****/
/* line 116, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/configurator.scss */
.module-series-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* line 123, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/configurator.scss */
.module-series-list-tabs {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #0066ff;
  background: linear-gradient(#666699, #6699cc);
}

/***** LEFT TOP WINDOW *****/
/* line 132, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/configurator.scss */
.conf-container-left-top {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  box-sizing: border-box;
}

/***** LEFT MIDDLE WINDOW *****/
/* line 142, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/configurator.scss */
.power-soket {
  border: 1px solid gray;
  border-collapse: collapse;
  box-sizing: border-box;
  margin: 12px 4px;
  padding: 9px;
  height: 100px;
  width: 100px;
  background-color: white;
}

/* line 154, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/configurator.scss */
.box-for-signal-slots {
  padding: 0 8px;
  margin: 8px 4px;
  border: 1px solid gray;
  border-radius: 5px;
  height: 108px;
  box-sizing: border-box;
  background-color: white;
}

/* line 164, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/configurator.scss */
.signal-slot {
  box-sizing: border-box;
  width: 30px;
  height: 106px;
}

/* line 170, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/configurator.scss */
.selected-signal-slot {
  box-sizing: border-box;
  z-index: 1;
  width: 30px;
  height: 106px;
  box-shadow: 2px 2px 2px red, 2px -2px 3px red, -2px 2px 2px red, -2px -2px 2px red;
}

/* line 178, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/configurator.scss */
.conference-control {
  border: 1px solid gray;
  border-collapse: collapse;
  box-sizing: border-box;
  margin: 0 4px;
  padding: 8px;
  height: 124px;
  width: 124px;
  border-radius: 5px;
}

/* line 189, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/configurator.scss */
.conference-control-double-frame {
  border: 1px solid #fc2cf1;
  word-wrap: break-word;
  box-sizing: border-box;
  height: 106px;
  width: 212px;
}

/* line 197, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/configurator.scss */
.conf-list-middle {
  padding: 0;
  margin: 0;
  z-index: 0;
  overflow: hidden;
}

/* line 204, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/configurator.scss */
.addTabs {
  padding: 0px 8px;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #fff;
  margin: 0 10px;
}

/***** LEFT BOTTOM WINDOW *****/
/* line 219, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/configurator.scss */
.module-list-bottom {
  margin: 0;
  padding: 0;
  z-index: 0;
}

/* line 225, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/configurator.scss */
.horizontal-scrolling__wrapper {
  display: flex;
  flex-wrap: nowrap;
}

/* line 230, C:/Users/vakuliuk.bogdan/Documents/PrivateInformation/2018-07-23_TLS_Configurator/_code/configurator/src/Style/_scss/configurator.scss */
.simplebar-scrollbar:before {
  background: #0180BE;
}

/*# sourceMappingURL=../configurator.map */